{{ partial "about-header.html" . }}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-112">
                    <div class="page-heading">
                      <h1>{{ .Title }}</h1>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 ">
                  <div class="col-md-12">
                    <ul class="nav nav-pills nav-justified">
                      <li>
                        <a href="#experience">4+ years</a>
                      </li>
                      <li>
                        <a href="#education">Software Engineer</a>
                      </li>
                      <li>
                        <a href="#volunteer">Community <i class="fa fa-heart" ></i> </a>
                      </li>
                    </ul>
                  </div>

                </div>
            </div>
            <div class="row">
              <hr/>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              {{ .Content }}
            </div>
        </div>
    </div>


{{ partial "footer.html" . }}
