{{ if .Site.Params.ShowReadTime }}
  A {{ .ReadingTime }} minute read,
{{ end }}
Posted by <a href="#">{{ .Site.Params.Author }}</a> on {{ dateFormat .Site.Params.DateForm .Date }}
<br />
{{ partial "categories.html" .}}
<br />
